# For more information: https://laravel.com/docs/sail
version: "3"
services:
    backend:
        build:
            context: ./backend/vendor/laravel/sail/runtimes/8.0
            dockerfile: Dockerfile
            args:
                WWWGROUP: "${WWWGROUP}"
        image: sail-8.0/app
        ports:
            - "${APP_PORT:-8080}:80"
        environment:
            WWWUSER: "${WWWUSER}"
            LARAVEL_SAIL: 1
        volumes:
            - "./backend:/var/www/html"
        depends_on:
            - mysql
            - redis
    mysql:
        image: "mysql:8.0"
        ports:
            - "${FORWARD_DB_PORT:-3306}:3306"
        environment:
            MYSQL_ROOT_PASSWORD: "${DB_PASSWORD}"
            MYSQL_DATABASE: "${DB_DATABASE}"
            MYSQL_USER: "${DB_USERNAME}"
            MYSQL_PASSWORD: "${DB_PASSWORD}"
            MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
        volumes:
            - "mysql:/var/lib/mysql"
    redis:
        image: "redis:alpine"
        ports:
            - "${FORWARD_REDIS_PORT:-6379}:6379"
        volumes:
            - "redis:/data"
    mailhog:
        image: "mailhog/mailhog:latest"
        ports:
            - 1025:1025
            - 8025:8025
    frontend:
        command: yarn dev || (yarn && yarn dev)
        image: node:14
        ports:
            - "3000:3000"
        expose:
            - "3000"
        user: node
        volumes:
            - "./frontend:/home/node/frontend"
        working_dir: /home/node/frontend
        depends_on:
            - backend
        env_file: ./.env
volumes:
    mysql:
        driver: local
    redis:
        driver: local
