@import "./fonts";
@import "./variables";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter";
}

body {
	max-width: $width;
	width: 100%;
	margin: 0 auto;
	padding: 1em 2em;

	font-size: 14px;
}
