@import "../../styles/variables";

.booking {
	padding: 1em;
	border: 1px solid gray;
	border-radius: $border-radius;
	height: 100%;

	display: grid;
	gap: 1em;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas: "name name" "dates dates" "bookedspaces bookedspaces";
}

.name {
	grid-area: name;
}

.dates {
	grid-area: dates;
}

.bookedspaces {
	grid-area: bookedspaces;
}

.row {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.5em;
	p {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;

		b {
			display: inline-block;
			min-width: 3em;
		}
	}
}

.bunk {
	display: grid;
	gap: 0.25em;
	width: 100%;
}
