@import "../../styles/variables";

.container {
	position: absolute;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;

	padding: 1em 2em;

	background-color: #00000088;

	// TODO: Should not be 100000000
	z-index: 100000000 !important;
}

.modal {
	max-width: $width;
	width: 100%;

	border-radius: $border-radius;

	background-color: white;
	padding: 1em;
	margin: 0 auto;

	border: 6px solid $orange;
}

.error {
	border-color: $light-red;
}

.success {
	border-color: $light-green;
}

.data {
	margin: 1em 0;
}
